- name: Create bashrc.d folder
  become: no
  file: path={{ lookup('env','HOME') }}/.bashrc.d state=directory

- name: Link basic .bashrc file
  become: no
  file: state=link force=yes src={{ role_path }}/files/bashrc path={{ lookup('env','HOME') }}/.bashrc

- name: Add basic .bashrc.d config
  become: no
  file:
    state: link
    src: "{{ role_path }}/files/00-applications.sh"
    dest: "{{ lookup('env','HOME') }}/.bashrc.d/00-applications.sh"
    force: yes

- name: Clone liquidprompt
  become: no
  git:
    repo: https://github.com/nojhan/liquidprompt.git
    dest: "{{ lookup('env', 'HOME') }}/applications/liquidprompt"

- name: Add liquidprompt .bashrc.d config
  become: no
  file:
    state: link
    src: "{{ role_path }}/files/liquidprompt.sh"
    dest: "{{ lookup('env','HOME') }}/.bashrc.d/liquidprompt.sh"
    force: yes

- name: Add liquidpromptrc
  become: no
  file:
    state: link
    src: "{{ role_path }}/files/liquidpromptrc"
    dest: "{{ lookup('env','HOME') }}/.liquidpromptrc"
