- name: Add nextcloud APT repository
  apt_repository:
    repo: 'ppa:nextcloud-devs/client'
    state: present
    filename: nextcloud
    update_cache: yes

- name: Install common GUI Packages
  apt:
    state: latest
    name:
      - audacity
      - caffeine
      - chromium-browser
      - file-roller
      - firefox
      - gimp
      - gnucash
      - inkscape
      - keepassx
      - lame
      - libreoffice
      - meld
      - nextcloud-client
      - redshift-gtk
      - speedcrunch
      - terminator
      - thunar
      - transmission-gtk
      - vlc

- name: Link terminator configuration
  become: no
  file:
    state: link
    src: "{{ role_path }}/files/terminator"
    path: "{{ lookup('env','HOME') }}/.config/terminator"

#Dropbox
#TODO: Get download link dynamically
- name: Install Dropbox from official link
  apt:
    deb: "https://www.dropbox.com/download?dl=packages/ubuntu/dropbox_2020.03.04_amd64.deb"

# Firefox Dev edition installation
- import_tasks: aurora.yml

# YACReader
- name: Add yacreader repo key
  apt_key:
    url: "https://download.opensuse.org/repositories/home:selmf/xUbuntu_19.10/Release.key"
    state: present

- name: Add yacreader APT repository
  apt_repository:
    repo: 'deb http://download.opensuse.org/repositories/home:/selmf/xUbuntu_19.10/ /'
    state: present
    filename: yacreader
    update_cache: yes

- name: Install yacreader from apt
  apt:
    name: yacreader
    state: latest

# Peek GIF Recorder - https://github.com/phw/peek
- name: Add peek PPA
  apt_repository:
    repo: 'ppa:peek-developers/stable'
    state: present
    filename: peek
    update_cache: yes
   
- name: Install peek from apt
  apt:
    name: peek
    state: latest
