- name: Get latest release of go-jira
  become: no
  github_release:
    token: no_token_for_you
    user: Netflix-Skunkworks
    repo: go-jira
    action: latest_release
  register: gojira_version

- name: Download go-jira executable
  become: no
  uri:
    dest: "{{ lookup('env','HOME') }}/applications/gojira"
    url: "https://github.com/Netflix-Skunkworks/go-jira/releases/download/{{gojira_version.tag}}/jira-linux-amd64"

- name: Make the reptile be able to run
  become: no
  command: chmod +x {{ lookup('env','HOME') }}/applications/gojira

- name: link the executable to bin directory
  become: no
  file: state=link src={{ lookup('env','HOME') }}/applications/gojira path={{ lookup('env','HOME') }}/bin/{{item}} force=yes
  with_items:
    - gojira
    - jira


- name: Create gojira configuration directory
  become: no
  file: path={{ lookup('env','HOME') }}/.jira.d/ state=directory

- name: Copy gojira config
  become: no
  copy: 
    src: "{{role_path}}/files/jira.yml"
    dest: "{{ lookup('env','HOME') }}/.jira.d/config.yml"
