- name: Install docker-compose
  pip:
    state: latest
    name:
      - docker
      - docker-compose

- name: Create docker config dir
  become: no
  file:
    path: "{{ lookup('env', 'HOME') }}/.docker"
    state: directory
    mode: 0755

- name: Add docker config
  become: no
  template:
    src: "{{ role_path }}/files/config.json"
    dest: "{{ lookup('env','HOME') }}/.docker/config.json"
  when: ecr is defined and ecr.accounts is defined

- name: Log into DockerHub
  docker_login:
    username: "{{ dockerhub.username }}"
    password: "{{ dockerhub.password }}"
    email: "{{ dockerhub.email }}"
  when: dockerhub is defined

- name: Install docker ecr credential helper
  become: "{{ ansible_distribution == 'Ubuntu' }}"
  package:
    state: latest
    name: '{{ applications.docker_ecr_helper }}'
