- name: Install specific packages for home computer
  apt: state=latest name={{item}}
  with_items:
    - audacity
    - transmission-gtk
    - mpv
    - nethack-console

# Nethack
- name: Copy nethackrc
  become: no
  file: state=link src={{role_path}}/files/nethackrc path={{ lookup('env','HOME') }}/.nethackrc force=yes
