- name: Add apt i3 repository
  apt_repository: repo={{ item.repo }} state=present filename={{ item.name }}
  with_items:
      - name: i3
        repo: 'deb http://debian.sur5r.net/i3/ xenial universe'

- name: Update packages
  apt: update_cache=yes allow_unauthenticated=yes

- name: Install i3 keyring
  apt: name=sur5r-keyring state=latest allow_unauthenticated=yes

- name: Update packages
  apt: update_cache=yes upgrade=full

- name: Install base i3 packages
  apt: state=latest name={{item}}
  with_items: 
    - dunst
    - dmenu
    - i3
    - i3-wm
    - i3lock
    - i3status
    - j4-dmenu-desktop
    - nitrogen
    - scrot
    - suckless-tools

- name: Link specific i3 configuration
  become: no
  file: state=link src={{role_path}}/files/{{host}} dest="{{ lookup('env','HOME') }}/.i3" force=yes
