snippet crr
const R = require('ramda')
endsnippet

snippet crs
const sinon = require('sinon')
endsnippet

snippet desc
describe('${1:description}', () => {
  $2
})
endsnippet

snippet it
it('${1:description}', () => {
  $2
})
endsnippet

snippet sandbox
let sandbox
beforeEach(() => {
  sandbox = sinon.createSandbox()
})
afterEach(() => {
  sandbox.restore()
})
endsnippet

snippet exp
module.exports = {
  $1
}
endsnippet
