# Create applications directory -> Manually installed applications will live here
- name: Create applications directory
  become: no
  file: path={{ lookup('env','HOME') }}/applications/ state=directory

# Create $HOME/bin directory -> executables of manually installed applications will be linked here to be added to $PATH
- name: Create bin directory
  become: no
  file: path={{ lookup('env','HOME') }}/bin/ state=directory

# install git if not present
- name: Install Git
  become: "{{ ansible_distribution == 'Ubuntu' }}"
  package:
    name: git
    state: latest

# Copy git configuration
- name: Build gitconfig file
  become: no
  template:
    src: "{{ role_path }}/files/gitconfig"
    dest: "{{ lookup('env','HOME') }}/.gitconfig"

- name: Link git configs directory (for hooks)
  become: no
  file:
    src: "{{ role_path }}/files/git"
    dest: "{{ lookup('env', 'HOME') }}/.config/git"
    state: link

# Needed for github_release module
- name: Install pip dependencies for other modules
  become: no
  pip:
    name: github3.py
    state: present
    version: 1.0.0a4 # TODO: Check latest working version
    executable: pip3
