# Installs packages available in both package managers:
# https://tldr.sh/
# https://github.com/ggreer/the_silver_searcher
# https://github.com/junegunn/fzf
# https://github.com/aws/aws-cli
# https://github.com/nvbn/thefuck
- name: Install utility packages
  become: "{{ ansible_distribution == 'Ubuntu' }}"
  package:
    state: latest
    name:
      - tldr
      - '{{ applications.ag }}'
      - fzf
      - thefuck

- name: Copy thefuck initialization to .bashrc.d dir
  become: no
  shell: "thefuck --alias > {{ lookup('env', 'HOME') }}/.bashrc.d/thefuck.sh"
  args:
    executable: '{{ bash.executable }}'

- name: Install tmux
  become: "{{ ansible_distribution == 'Ubuntu' }}"
  package:
    state: latest
    name:
      - tmux

- name: Link tmux configuration
  become: no
  file:
    state: link
    src: "{{ role_path }}/files/tmux.conf"
    dest: "{{ lookup('env','HOME') }}/.tmux.conf"

# See https://thoughtbot.com/upcase/videos/tmux-navigation
- name: Clone thoughtbot dotfiles
  become: no
  git:
    repo: https://github.com/thoughtbot/dotfiles.git
    dest: "{{ lookup('env', 'HOME') }}/applications/thoughtbot-dotfiles"
    version: master

- name: Install thoughtbot's tmux tat script
  file:
    state: link
    src: "{{ lookup('env', 'HOME') }}/applications/thoughtbot-dotfiles/bin/tat"
    dest: "{{ lookup('env','HOME') }}/bin/tat"
    mode: 0644

# Applications installed in OS specific roles:
# fpp (both)
# go-jira (on mac)
